/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* COMMON STYLE AND UTILLITIES */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 870px;
    background-color: #ffffff;
    padding:30px; 
    margin-bottom: 20px;
    border-radius: 5px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* TOP SECTION */
.section-title{
    color:#562EFF;
    margin-top: 5px;
    font-size: 24px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.player img{
    width:56px;
    height: 56px;
}
.player-name{
    margin-left:16px;
    font-size: 18px;
}
hr{
    border:1px solid #D1D1D1;
    margin-bottom: 30px;
}
/* BLOGS SECTION STYLE */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 79px;
}
.single-blog{
    display: flex;
    align-items: center;
}
.blog-image img{
    width:177px;
}
.blog-title{
    margin-left: 16px;
}
.blog-auther{
    color: #9F9F9F;
    font-size:16px;
}
.blog-auther a{
    text-decoration: none;
    font-size: 16px;
}
/* COURSES SECTION  */
.lates-courses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.single-course{
    Width: 255px;
    border:2px solid rgb(252, 252, 252);
    border-radius: 13px;
    padding: 10px;
}
.course-banar img{
    width:255px;
    height:125px ;
}
.course-title{
     color: #1E1E1E;
     font-size: 20px;
     margin-bottom: 7px;
}
.course-author{
    color:#ED6B4F;
    font-size: 14px;
    margin:0 0 10 0;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.course-icon .fa-star{
    color:#FFC014;
}
.course-icon .fa-star.empty{
    color:#AEAEAE;
    margin-right: 10px;
}
span{
    color:#A2A2A2;
    font-size: 16px;
}
.course-duration{
    text-align: center;
    Width:90px;
    Height:22px;
    background-color: #FFE4E8;
    padding:3px;
    border-radius: 25px;
    color:#FF4A60;
    font-size: 14px;
}